<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navBar"></nav>
<header th:replace="fragments :: header"></header>

<h1 th:text="${#strings.capitalizeWords(title)}"></h1>
<h2 th:text="${'Name: ' + coach.firstName + ' ' + coach.lastName}">Name</h2>


<table>
<tr>
    <td>
        <p th:text="${'Sport: ' + coach.sport}">Sport</p>
        <p> Players
            <ul>
                <li th:each="player : ${coach.roster}">
                    <a th:href="@{'/player/view/' + ${player.id}}" th:text="${player.firstName + ' ' + player.lastName}"></a>
                </li>
            </ul>
        </p>
    </td>
</tr>
</table>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>