<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <link th:href="@{/styles.css}" rel="stylesheet" type="text/css">
  <script th:src="script.js"></script>
  <meta charset="UTF-8"/>
</head>

<body>

<nav th:fragment="navBar" class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/player">List of Players</a>
  <a href="/player/add">Add a Player</a>
  <a href="/coach">List of Coaches</a>
  <a href="/coach/add">Add a Coach</a>

  <div class="topnav-right">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>

</nav>

<header th:fragment="header">
  <h1 class="text-black fs-3 fw-bolder">Youth Sports: Teams, Coaches, and Players</h1>

</header>

<footer th:fragment="footer">
  <p>Krystal White &#169; 2022 </p>
</footer>
</body>
</html>