<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navBar"></nav>
<header th:replace="fragments :: header"></header>

<h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<div>
    <form method = "post">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="Player's first name...">

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="Player's last name...">

        <label for="sport">Sport</label>
        <input type="text" id="sport" name="sport" placeholder="Player's primary sport...">

        <input type="submit" value="Submit">
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>